<head>
<script>
	interval = 1000;
</script>

<style>
	#rectangle{
		height: 10px;
		width: 100px;
		background-color: (0,0,0);
	}
</style>
</head>

<!--<div class="page-header">-->
    <h1>LED STRIP</h1>     
    <p> Here are some function for the Led-strip:</p>
<!--</div>-->
	{% set z = 0 %}
	
	<div class="row">	
	{% for i in functdict %}    
		{% set z = z + 1 %}
		<div id='{{i}}' class="col-sm-6"><button type="button" class="btn btn-default">{{i}}</button></div>
		{% if z%2 == 0 %}
			</div> 
			<div class="row">	
		{% endif %}
	{% endfor %}
	</div>
	
	<div id="rectangle"></div>
	
	<p>R</p><input id= 'r' type='range' min='0' max='255' value="{{color_rgb['r']}}" onchange="InputServer(this.id, this.value)" oninput="ChangeColor()"></input> <br>
	<p>G</p><input id= 'g' type='range' min='0' max='255' value="{{color_rgb['g']}}" onchange="InputServer(this.id, this.value)" oninput="ChangeColor()"></input> <br>
	<p>B</p><input id= 'b' type='range' min='0' max='255' value="{{color_rgb['b']}}" onchange="InputServer(this.id, this.value)" oninput="ChangeColor()"></input> <br>	
	<p>LENGTH</p><input id= 'length' type='range' min='0' max='135' value="{{length}}" onchange="InputServer(this.id, this.value)"></input>
	<p>Speed</p><input id= 'wait' type='range' min='0.0001' max='0.2' step='0.0001' value="{{wait}}" onchange="InputServer(this.id, this.value)"></input>
	
	<p>brightness</p><input id= 'brightness' type='range' min='0.1' max='0.9999' step='0.001' value="1" onchange="InputServer(this.id, this.value)"></input>
	
	<p>The temperature of the pi is:<input type='text' id='temperature'></input></p>
	<p>The cpu-usage of the pi is:<input type='text' id='cpu_load'></input></p>
	
	<div id='sleepmode' class="col-sm-6"><button id="sleepbutton" type="button" class="btn btn-default" onclick="setSleep()">Unknown sleepmode</button></div>
	
	<p>Arduino</p><input id= 'arduino' type='range' min='0' max='255' value="0" onchange="InputServer(this.id, this.value)"></input> <br>
	

<script>
	var sleepmodetoggle = false;
	var interval = 1000; // 1 second
	ChangeColor();
	timer = setInterval(function(){ getData() }, interval );
	

	
	{% for i in functdict %}
		document.getElementById('{{i}}').onclick = function(){
			$.get('/led/{{i}}');
			alert('{{i}} gestart');
		}
	{% endfor %}
	
	function InputServer(id, val) {
        $.get('/led/'+id+'/'+val);
    }
	
	function ChangeColor(){
		r = document.getElementById('r').value;
		g = document.getElementById('g').value;
		b = document.getElementById('b').value;
		document.getElementById('rectangle').style.backgroundColor = 'rgb('+r+','+g+','+b+', 125)';
		document.getElementById('rectangle').style.height = '10vh';
	}
	function getData(){
		$.getJSON("/led/data", function(data)
			{
				r = data['color']['r']
				g = data['color']['g']
				b = data['color']['b']
				temperature = data['temp']
				cpu_load = data['cpu_load']
				document.getElementById('rectangle').style.backgroundColor = 'rgb('+r+','+g+','+b+', 255)';
				document.getElementById('temperature').value = temperature;
				document.getElementById('cpu_load').value = cpu_load;
				
			})
	}
	
	function setSleep(){
		if (sleepmodetoggle) {
			clearInterval(timer);
			interval = '1000'; // 1 second
			InputServer('wait', '0.02');
			document.getElementById('sleepbutton').textContent = 'Sleep of';
			timer = setInterval(function(){ getData() }, interval );
			sleepmodetoggle = false;
			
		}else{
			clearInterval(timer);
			interval = '120000'; // 120 seconds
			InputServer('wait', '10.0');
			document.getElementById('sleepbutton').textContent = 'Sleep on';
			timer = setInterval(function(){ getData() }, interval );
			sleepmodetoggle = true;
		}
		
	}
</script>